.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coverimage{
  height: 800px;
  margin-top: 19px;

}

.row{
  overflow: hidden;
  width: 100%;
}

.column{
    width: 20%;
    float: left;
}

.product {
  margin-left: 56px;
  margin-top: 117px;
}

.imgProduct {
  width: 286px;
  height: 180px;
}